@import '~scss/variables';

.clusters {
  display: flex;
  margin-top: 12px;
}

.cluster {
  position: relative;
  width: 326px;
  padding: 8px;
  border-radius: 2px;
  background-color: $enfi-blue;
  margin-right: 12px;
}
